{% extends "welcome.html" %}

{% block content %}

<h1>To work with a single Question</h1>

{% comment %} <!-- {% for comment in question.comments.all  %} --> {% endcomment %}

{% for comment in questions.comments.all  %}

<h2>{{comment.for_question}}</h2>
<h1>{{ comment.title }}</h1>

<h1>{{ comment.comment_body }}</h1>

<p> {% if comment.is_accepted %} 
    <h2>accepted answer</h2>
    {% endif %}

</p>

{% endfor %}

{% comment %} <a href="{% url 'Stack_overflow_app1:question_create' question=questions.question.slug slug=question.slug %}">  {% endcomment %}

{% comment %} <a href="{% url 'Stack_overflow_app1:question_create' slug=question.slug %}"> Add a new Answer </a> {% endcomment %}

{% endblock  %}