{% extends "welcome.html" %}

{% block content %}

<h1>To work with a single Question</h1>

{% comment %} <!-- {% for comment in question.comments.all  %} --> {% endcomment %}


{% for comment in questions.comments.all|slice:":1"  %}


<h1>{{comment.for_question}}</h1>
{% comment %} to prnt the Question just once {% endcomment %}


{% endfor %}
<br>


{% for comment in questions.comments.all  %}

{% comment %} <h2>{{comment.for_question}}</h2> {% endcomment %}
<h1>{{ comment.title }}</h1>

<div>
<h2><h1>#{{ comment.comment_body }}  </h1>
     {% if comment.is_accepted %} 
    <h3>accepted answer</h3>
    {% endif %}

 </h2>


</div>
<br>
{% endfor %}

{% comment %} <a href="{% url 'Stack_overflow_app1:question_create' question=questions.question.slug slug=question.slug %}">  {% endcomment %}

{% comment %} <a href="{% url 'Stack_overflow_app1:question_create' slug=question.slug %}"> Add a new Answer </a> {% endcomment %}

{% endblock  %}